/* 
position
  static

absolute
relative
sticky
fixed
*/

/* 
body 8px > .parent 20px = 20px
*/

* {
	box-sizing: border-box;
}

body {
	margin: 10px;
}

.grand-parent {
	width: 800px;
	height: 800px;
	background-color: red;
	padding: 10px;

	position: relative;
}

/*  */

.parent {
	width: 500px;
	height: 500px;
	background-color: purple;
	/* margin: 20px 10px; */

	/* default position is static */
}

.child {
	width: 100px;
	height: 100px;
	background-color: aqua;
	position: absolute;
	/* top left right bottom */
	top: 0;
	left: 0;

	z-index: 1;
}

.child-2 {
	width: 80px;
	height: 80px;
	background-color: chartreuse;
	position: absolute;
	/* top left right bottom */
	top: 0;
	left: 0;
}

p span {
	background-color: red;
	/* position: static; */
	position: relative;
	top: 10px;
	left: 10px;
}

/* position: fixed */
.fixed {
	width: 100px;
	height: 100px;
	background: black;
	position: fixed;
	top: 0;
	right: 0;
}

/* sticky position */
.sticky-parent {
	/* width: 2500px; */
	width: 500px;
	height: 1000px;
	background: linear-gradient(to right, red, green);
	margin-bottom: 10px;
}

.sticky {
	position: sticky;
	top: 20px;
	left: 20px;
	width: 30px;
	height: 30px;
	background-color: yellow;
}

.after-sticky {
	background-color: red;
	height: 1000px;
}

.card {
	width: 400px;
	padding: 10px;
	border: 2px solid gray;
	position: relative;
}

.card img {
	display: block;
	width: 100%;
}

.card .sale {
	background-color: red;
	color: white;
	font-size: 20px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	/* inset: 0; */
  /* top right bottom left */
}

.card .sale::after {
	content: "!!!";
}
